<% if user_signed_in? %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<p> <%= current_user.name %> </p>
<% @users.each do |user| %>
<div class="user-container">
    <div class="picture">
      <div class="empty-div">
      </div>
    </div>
    <div class="user-name">
      <h1>
        <%= link_to user.name, user_path(user.id) %>
      </h1>
      <p>
        <%= user.posts_counter%>
      </p>
    </div>
  </div>
<% end %>
<% else %>
<%= link_to 'Login', new_user_session_path %>
<%= link_to 'Sign up', new_user_registration_path %>
<% end %>
