<section class="user-show">
  <div class="user-container">
      <div class="picture">
        <div class="empty-div">
        </div>
      </div>
      <div class="user-name">
        <h1>
          <%= @user.name %>
        </h1>
        <p>
          Number of Posts: <%= @user.posts_counter%>
        </p>
      </div>
  </div>
  <div class="bio">
    <div class="bio-title">
      <h5>
        Bio
      </h5>
    </div>
    <div class="bio-text">
      <p>
        <%= @user.bio %>
      </p>
    </div>
  </div>
  <div class="post-info">
    <% @user.recent_posts_from_user.each do |post| %>
    <div class="post-container">
        <div class="post-title">
          <%= post.title %>
        </div>
        <div class="post-text">
          <%= post.text %>
        </div>
      </div>
    <% end %>
  </div>


  <a href="<%=@user.id%>/posts">See all posts </a>
</section>