<section class="user-show">
<div>
  <p>
    <%= link_to "Create post", new_user_post_path(@user.id)%>
    <%= link_to(destroy_user_session_path, {:class => "log-out", :method => :delete}) do  %>
      <span class="sidebar-normal"> Logout </span>
<% end %>

  </p>
</div>
  <div class="user-container">
      <div class="picture">
        <div class="empty-div">
        </div>
      </div>
      <div class="user-name">
        <h1>
          <%= @user.name %>
        </h1>
        <p>
          Number of posts: <%= @user.posts_counter%>
        </p>
      </div>
  </div>
  <div class="bio">
    <div class="bio-title">
      <h4>
        Bio
      </h4>
    </div>
    <div class="bio-text">
      <p>
        <%= @user.bio %>
      </p>
    </div>
  </div>
  <div class="post-info">
    <% @user.recent_posts_from_user.each do |post| %>
    <div class="post-container">
        <div class="post-title">
          <h4><%= post.title %></h4>
        </div>
        <div class="post-text">
          <p><%= post.text %></p>
        </div>
      </div>
    <% end %>
  </div>


  <p> <%= link_to "See all posts", user_posts_path(@user.id) %></p>
</section>