<section class="show-posts">
  <div class="user-container">
    <div class="picture">
      <div class="empty-div">
        <p> <%= @user.photo %> </p>
      </div>
    </div>
    <div class="user-name">
        <h1>
          <%=@user.name%>
        </h1>
        <p>
          Number of posts: <%= @user.posts_counter %>
        </p>
    </div>
  </div>
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-info-container">
        <h4 class="post-title">
          <%= link_to post.title, user_post_path(@user.id, post.id) %>
        </h4>
        <p class="post-text">
          <%= post.text %>
        </p>
        <div class="comms-likes">
          <p class="comments-counter">
            Comments: <%= post.comments_counter %>
          </p>
          <p class="likes-counter">
            Likes: <%= post.likes_counter %>
          </p>
        </div>
      </div>
      <div class="comments">
          <% post.recent_comments_from_user.each do |comment| %>
            <div class="single-comment">
              <p>
                Username: <%= comment.user.name %>
              </p>
              <p>
                Comment: <%= comment.text %>
              </p>
            </div>
          <%end%>
      </div>
      <%if can? :destroy, post %>
        <%=button_to 'Delete post', {:controller => :posts, :action => 'destroy', :id => post.id}, :method => :delete %>
      <%end%>

    </div>
  <% end %>
    <p> <%= link_to "See all posts", user_posts_path(@user.id) %></p>

</section>