<section class="pagination">
    <div class="single-post">
      <div class="post-container">
        <div class="title">
          <h4 class="user-post">
            <%=@post.title%> by <%=@post.user.name%>
          </h4>
          <p class="comms-likes">
            Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %>
          </p>
        </div>
        <div class="post-content">
          <p class="post-text">
            <%= @post.text %>
          </p>
        </div>
      </div>
      <div class="comments-container">
        <div class="single-comment">
          <div class="comment">
              <%= render @post.comments%>
          </div>
          <p>
          <%= link_to 'Add comment', new_user_post_comment_path(@post.user.id, @post.id) %>
          </p>
        </div>
        <%=button_to 'Delete', {:controller => :posts, :action => 'destroy', :id => @post.id}, :method => :delete%>
      </div>
    </div>
</section>