<section class="pagination">
    <div class="single-post">
      <div class="post-container">
        <div class="title">
          <h4 class="user-post">
            <%=@post.title%> by <%=@post.user.name%>
          </h4>
          <p class="comms-likes">
            Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %>
          </p>
        </div>
        <div class="post-content">
          <p class="post-text">
            <%= @post.text %>
          </p>
        </div>
      </div>
      <div class="comments-container">
        <div class="single-comment">
          <div class="comment">
              <%= render @post.comments%>
          </div>
          <p>
          <% if can? :destroy, @post %>
            <%= link_to user_post_path(current_user.id,@post.id), method: :delete do %>
              <i class="fas fa-trash-alt"></i><span class="m-3 badge bg-danger">Delete</span>
            <% end %>
          <% end %>
          </p>
          <p>
          <%= link_to 'Add comment', new_user_post_comment_path(@post.user.id, @post.id) %>
          </p>
        </div>
      </div>
    </div>
</section>