<section class="pagination">
    <div class="single-post">
      <div class="post-container">
        <div class="title">
          <h4 class="user-post">
            <%=@post.title%> by <%=@post.user.name%>
          </h4>
          <p class="comms-likes">
            Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %>
          </p>
        </div>
        <div class="post-content">
          <p class="post-text">
            <%= @post.text %>
          </p>
        </div>
      </div>
      <div class="comments-container">
        <div class="single-comment">
          <div class="comment">
              <% @comments.each do |comment| %>
                <p>Username: <%= comment.user.name%></p>
                <p>Comment: <%= comment.text%></p>
              <%end%>
          </div>
        </div>
      </div>
    </div>
</section>