<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/63ff2cfeab.js" crossorigin="anonymous"></script>
  </head>
  <header>
    <nav>
      <ul>
        <li>
          <% if user_signed_in? %>
          <%= link_to 'Home', users_path%>
          <%else%>
          <%= link_to 'LogIn', new_user_session_path %>
          <%end%>
        </li>
      </ul>
    </nav>
  </header>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>

  <footer>
    <div>
      <ul>
        <li>
          &copy;Microverse Inc.
        </li>
      </ul>
    </div>
  </footer>
</html>
